# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
# empty dictionary
Dict={}
type(Dict)

dict

In [2]:
Dict1=dict()
type(Dict1)

dict

In [3]:
data={'Alabama':'Montgomery', 'Arizone':'Phoenix', 'Georgia':'Atlanta', 'Kentucky':'Frankfort', 'Ohio':'Columbus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [4]:
data['Ohio']

'Columbus'

In [5]:
data['Georgia']

'Atlanta'

In [7]:
#data['NewYork'] error if not present in the dictionary

### Update elements of a dictionary and add new elements

In [2]:
day={1: 'Monday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Saturday', 'Sunday']}

In [9]:
# access thursday
day[4][0]

'Thursday'

In [11]:
# Access sunday
day[5][1]

'Sunday'

In [8]:
day[3]='Wednesday'

In [13]:
print(day)

{1: 'Monday', 2: 'Tuesday', 4: ('Thursday', 'Friday'), 5: ['Saturday', 'Sunday'], 3: 'Wednesday'}

In [14]:
# update saturday to holiday
day[5][0]='Holiday'
day[5][0]

'Holiday'

In [3]:
# update sunday to holiday
day[5][1]='Holiday'
day[5][1]

'Holiday'

In [5]:
# update thursday to holiday
#day[4][0]='Holiday'
#day[4][0]
# error because it is a tuple

### `get` and `update` methods
- get us to access a value from dictionary
- update the dictionary with new value

In [9]:
# return wednesday
day.get(3)

'Wednesday'

In [10]:
# monday
day.get(1)

'Monday'

In [11]:
day.get(6) # not generating an error if the key is not present in the dictionary

In [13]:
#day[6] # generates an error

In [14]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Holiday'],
 3: 'Wednesday'}

In [15]:
data={'Alabama':'Montgomery', 'Arizone':'Phoenix', 'Georgia':'Atlanta', 'Kentucky':'Frankfort', 'Ohio':'Columbus'}

In [18]:
# updated old entry
data.update({'Kentucky':'Louisville'})
data

{'Alabama': 'Montgomery',
 'Arizone': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus'}

In [19]:
# new entry
data.update({'Louisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizone': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge'}

In [21]:
data.update({'Missouri':'Jefferson City','Kentucky':'Frankfort'})
data

{'Alabama': 'Montgomery',
 'Arizone': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Delete dictionary items using `del` and `pop`

In [24]:
# delete alabama using del
del data['Alabama']
data

{'Arizone': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [25]:
# delete ohio using pop
data.pop('Ohio')
data

{'Arizone': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [26]:
# delete the dictionary

del data

In [28]:
#data dict is deleted

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [30]:
data={'Alabama':'Montgomery', 'Arizone':'Phoenix', 'Georgia':'Atlanta', 'Kentucky':'Frankfort', 'Ohio':'Columbus'}
data

{'Alabama': 'Montgomery',
 'Arizone': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus'}

In [31]:
data.keys()

dict_keys(['Alabama', 'Arizone', 'Georgia', 'Kentucky', 'Ohio'])

In [32]:
data.values()

dict_values(['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Columbus'])

In [33]:
data.items()

dict_items([('Alabama', 'Montgomery'), ('Arizone', 'Phoenix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Columbus')])

### Loop through a dictionary for

In [35]:
# unpack the dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizone
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [37]:
# unpack dictionary values
for j in data.values():
    print(j)

Montgomery
Phoenix
Atlanta
Frankfort
Columbus

In [40]:
# dict items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizone', 'Phoenix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Columbus')
<class 'tuple'>

In [64]:
# unpack dictionary items
for a, b in data.items():
    print("State", a)
    print("Capitol", b)

State Alabama
Capitol Montgomery
State Arizone
Capitol Phoenix
State Georgia
Capitol Atlanta
State Kentucky
Capitol Frankfort
State Ohio
Capitol Columbus

### Convert dictionary to lists using `list()` function

In [47]:
# dictionary keys to a list
list(data.keys())

['Alabama', 'Arizone', 'Georgia', 'Kentucky', 'Ohio']

In [48]:
# convert values to a list
list(data.values())

['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Columbus']

### A List in a Dictionary: how to unpack all of the entries?

In [49]:
fav_language={'jen':['python','ruby'], 'sarah':['c'], 'edward':['ruby','java'], 'phil':['python','java']}
fav_language

{'jen': ['python', 'ruby'],
 'sarah': ['c'],
 'edward': ['ruby', 'java'],
 'phil': ['python', 'java']}

In [66]:
for name, subjects in fav_language.items():
    print(f"The name is: {name.title()}. The favorite languages are: ")
    for i in subjects:
            print("\t\t\t\t\t\t",i)

The name is: Jen. The favorite languages are:
						 python
						 ruby
The name is: Sarah. The favorite languages are:
						 c
The name is: Edward. The favorite languages are:
						 ruby
						 java
The name is: Phil. The favorite languages are:
						 python
						 java

###  A Dictionary in a Dictionary

In [55]:
user={'est':{'first':'albert','last':'einstein','location':'princeton'}, 'mcurie':{'first':'marie','last':'curie','location':'paris'}}
user

{'est': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [56]:
# albert
user['est']['first']

'albert'

In [57]:
user['mcurie']['location']

'paris'

In [63]:
for username, user_info in user.items():
    print("Username:", username)
    full_name=user_info['first']+" " +user_info['last']
    print("full name: ", full_name)
    r=user_info['location']
    print("location is: ", r)

Username: est
full name:  albert einstein
location is:  princeton
Username: mcurie
full name:  marie curie
location is:  paris